.menstrualTracking {
  display: flex;
  flex-direction: column;
  align-self: center;
  .calendar-section-container {
    display: flex;
    justify-content: center;
    .calendar-container {
    }
  }
  aside {
    display: flex;
    justify-content: center;
    .period_checkin_container {
      border: 1px black solid;
      padding: 15px;
      width: 90vw;
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .period_checkin {
        .yesNoBtn {
          display: flex;
          // width: 25%;
          // justify-content: space-between;
          .yesBtn,
          .noBtn {
            all: unset;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: 700;
            margin: 5px 0;
            background-color: #9ef3ef;
          }
        }
      }
      .notes {
        padding: 10px;
        // background-color: hotpink;
        textarea {
          width: 80%;
          height: 75px;
        }
      }
    }
  }
}

.yesBtn:hover {
  // background-color: #9ef3ef8e;
  background: pink;
}

.saveBtn {
  all: unset;
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 700;
  margin: 5px 0;
  background-color: #f5bdc4;
}
.saveBtn:hover {
  background-color: #700713;
}

.noteListContainer {
  border: 1px black solid;
  margin: 10px;
}
.noteList {
  list-style-type: none;
}
