.sectionHeader {
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  font-family: "Caveat", cursive;
  font-size: 38px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
.headerContainer {
  background-image: url("../../images/periodTracking1.jpg");
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: 80%;
}
.calendar_notes_container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.calendar_section_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
// .calendar_container {
//   display: flex;
//   // justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }
.calendarContainer {
  margin: 20px;
}
.menstrualTracking {
  display: flex;
  flex-direction: column;
  align-self: center;
  aside {
    display: flex;
    justify-content: center;
    .period_checkin_container {
      border: 1px black solid;
      padding: 15px;
      width: 90vw;
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .yesNoBtn {
        display: flex;
        // width: 25%;
        // justify-content: space-between;
        .yesBtn,
        .noBtn {
          all: unset;
          cursor: pointer;
          padding: 10px 20px;
          border-radius: 5px;
          font-weight: 700;
          margin: 5px 0;
          background-color: #9ef3ef;
        }
      }

      // .notes {
      //   padding: 10px;
      //   // background-color: hotpink;
      textarea {
        width: 80%;
        height: 75px;
      }
    }
  }
}

.yesBtn:hover {
  // background-color: #9ef3ef8e;
  background: pink;
}

.saveBtn {
  all: unset;
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 700;
  margin: 5px 0;
  background-color: #f5bdc4;
}
.saveBtn:hover {
  background-color: #700713;
}

.noteListContainer {
  margin: 20px 20px 20px 20px;
  flex-grow: 2;
}
.noteList {
  list-style-type: none;
}

.periodCalendarLegend {
  > div {
    display: flex;
    align-items: center;
    // margin-top: 5px;
    margin-left: 20px;
  }
}
.keyColor {
  background-color: #db3b43c0;
  width: 25px;
  height: 20px;
  border-radius: 5px;
  margin-right: 7px;
}

@media screen and (min-width: 875px) {
  .calendar_notes_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .noteListContainer {
    margin: 20px 20px 20px 0px;
  }
}
