.setUpForm {
  display: flex;
  flex-direction: column;
  // height: 400px;
  flex-wrap: wrap;

  > label {
    margin: 10px 0px;
    border: 1px solid grey;
    padding: 15px;
    width: fit-content;
    border-radius: 5px;
    border: 1px #474747 solid;
    > label > input:nth-child(1) {
      cursor: pointer;
      margin-right: 7px;
    }
  }

  label,
  select {
    cursor: pointer;
  }
  label,
  select,
  input {
    margin-left: 10px;
  }
}

@media screen and (min-width: 800px) {
  .setUpForm {
    // height: 230px;
    padding-top: 10px;
    width: 60%;
  }
}
