.setUpForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  > label {
    margin: 7px 0px;
    width: fit-content;
    border-radius: 5px;
    > label > input:nth-child(1) {
      cursor: pointer;
      margin-right: 7px;
    }
  }

  label,
  select {
    cursor: pointer;
  }
  label,
  select,
  input {
    margin-left: 10px;
  }
}

.setUpHeader {
  width: 100%;
  // color: hotpink;
  font-size: 0.95rem;
  margin-left: 10px;
  text-align: left;
}
.sexSelect,
.ageSelect {
  width: 60%;
}
@media screen and (min-width: 400px) {
  .sexSelect,
  .ageSelect {
    width: 200px;
  }
}
