.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67vh;
}

.logoutContainer {
  padding: 30px;
  background-color: #dff4f3;
  border-radius: 30px 0;
  width: 80%;
  max-width: 400px;
  margin: 40px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoutContainer h2 {
  text-align: center;
}

.logoutBtn {
  border: none;
  background-color: #9ef3ef;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}
