.choose_bc {
  width: 100%;
  background-color: #dff4f3;
}
.showBCBtn {
  all: unset;
  cursor: pointer;
  padding: 15px;
  display: flex;

  img {
    width: 18px;
    margin-right: 10px;
    padding-top: 1px;
  }
}

.yellowKey {
  background-color: yellow;
  width: 25px;
  height: 15px;
}

.setUpCalendar {
  background-color: crimson;
  //adjust sixe of compoonent here
}
