.home {
  .seeMoreBtn {
    border: none;
    font-weight: 700;
    background-color: transparent;
    margin-left: 5px;
  }

  h1,
  h2 {
    font-family: "Caveat", cursive;
    font-weight: 400;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 2rem;
    line-height: 0.8;
  }
  h1 {
    font-size: 2.5rem;
  }

  .getStartedBtn,
  .loginBtn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin: 5px 0;
  }
  .getStartedBtn {
    background-color: #9ef3ef;
  }
  .loginBtn {
    background-color: #defbf9;
    margin-left: 10px;
  }
  ///////////////////////// SECTION ONE///////////////////////////////////////////////////////

  .sectionOne {
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("../../images/bc-types-home.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 20px;

      .mainSectionImg {
        width: 95vw;
        display: none;
      }
      > div {
        width: 75vw;
        margin: 20px 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        h1,
        p {
          text-align: center;
          font-weight: 400;
        }
        p {
          margin: 10px;
        }
      }
    }
  }

  ///////////////////////// SECTION TWO///////////////////////////////////////////////////////
  .sectionTwo {
    position: relative;
    margin: 50px 0 100px 0;

    .blueSection {
      background-color: #dff4f3;
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;

      //   .blueContent {
      //     display: flex;
      //     flex-direction: column-reverse;
      //     .blueWords {
      //       max-width: 900px;
      //       padding: 20px;
      //       padding-top: 0;
      //     }
      //     // .campingImg {
      //     //   max-width: 400px;
      //     //   padding: 20px;
      //     //   flex-grow: 2;
      //     // }
      //   }
    }
    .circleIcons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      max-width: 1015px;
      .individualCircle {
        background-color: #c3fd8a;
        border: 5px solid #fff;
        width: 20vw;
        height: 20vw;
        min-width: 150px;
        min-height: 150px;
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        text-align: center;
        padding: 10px;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 70%;
        }
      }
      .circle1,
      .circle2,
      .circle3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          font-family: "Caveat", cursive;
          font-size: 20px;
          font-weight: 400;
          width: 150px;
          text-align: center;
          margin-bottom: 10px;
          margin-top: 20px;
        }
      }
    }
  }
  ///////////////////////// SECTION THREE///////////////////////////////////////////////////////

  .sectionThree {
    .quoteContainer {
      height: 200px;
      margin-bottom: 100px;
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        width: 70%;
        max-width: 775px;
        font-style: italic;
        font-size: 1.3rem;
        .author {
          float: right;
          font-weight: 700;
        }
      }
    }
  }
  ///////////////////////// SECTION FOUR///////////////////////////////////////////////////////

  .sectionFour {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .mustardSqr {
      font-size: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-color: #ffe56f;
      padding-left: 60px;
      position: relative;
      height: 300px;
      p,
      button {
        font-size: 1rem;
      }
    }
    .mustardSqr::after {
      position: absolute;
      content: url("../../images/home-triangle.svg");
      left: 0;
      bottom: 0;
      right: 0;
    }

    .research {
      opacity: 0.9;
      display: none;
    }
  }

  ////////////////////////////////////////// SECTION 5//////////////////////////////////////////////////////

  .sectionFive {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .demonstration {
      height: 200px;
      width: 300px;
      background-color: grey;
      margin-bottom: 15px;
    }
    .caption {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p,
      h2 {
        width: 80%;
      }
      p {
        margin: 5px 0;
        max-width: 500px;
      }
    }
  }
}
////////////////////////////////// 400 MEDIA QUERY///////////////////////////////////////
@media screen and (min-width: 400px) {
  .home {
    .sectionOne {
      > div > div > p {
        // max-width: 300px;
      }
    }
    .sectionTwo {
      // .circleIcons {
      //   flex-direction: row;
      // }
    }
    .sectionThree {
    }
    .sectionFour {
    }
  }
} //end of 400 media query
////////////////////////////////// 550 MEDIA QUERY///////////////////////////////////////
@media screen and (min-width: 550px) {
  .home {
    .sectionOne {
      > div > div {
        padding: 40px;
      }
    }
    .sectionTwo {
      .blueSection {
        align-items: center;
        // padding-left: 20px;
        // padding-right: 20px;

        // .quoteContainer {
        //   padding-bottom: 4.5em;
        // }
        // .blueContent {
        //   flex-direction: row;
        //   padding: 30px;
        //   .blueWords {
        //     padding-top: 20px;
        //   }
        //   .campingImg {
        //     padding-right: 0px;
        //   }
        // }
      }
      .circleIcons {
        // // margin-top: 400px;
        // bottom: -125px;
        // display: flex;
        // // flex-direction: row;
        // width: 90%;
        // justify-content: space-between;
        // align-items: center;
        .circle1,
        .circle2,
        .circle3 {
          // min-width: 100px;
          p {
            font-size: 18px;
          }
        }
      }
    }
    .sectionThree {
    }
    .sectionFour {
      display: flex;
      flex-direction: row;
      .mustardSqr {
        width: 55vw;
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: flex-start;
        justify-content: center;

        h2 {
        }
        p {
          // height: 200px;
        }
        // align-items: center;
        // justify-items: center;
      }
      .research {
        display: block;
        height: 300px;
        width: 45vw;
        object-fit: cover;
      }
    }
  }
} //end of 550 media query

@media screen and (min-width: 660px) {
  .home {
    .sectionTwo {
      .circleIcons {
        flex-direction: row;
        position: relative;
        bottom: -125px;
        width: 90%;
        justify-content: space-between;
        align-items: flex-end;
        .circle1,
        .circle2,
        .circle3 {
          // min-width: 100px;
          p {
            font-size: 20px;
            width: 200px;
          }
        }
      }
    }
  }
}
////////////////////////////////// 768 MEDIA QUERY///////////////////////////////////////
@media screen and (min-width: 768px) {
  .home {
    .sectionOne {
      > div {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 50px;
        .mainSectionImg {
          width: 40%;
        }
        > div {
          margin: 30px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          p {
            margin: 10px 0;
            text-align: left;
          }
        }
      }
    }
    .sectionTwo {
      //   .blueSection {
      //     align-items: center;
      //     // padding-left: 20px;
      //     // padding-right: 20px;

      //     // .quoteContainer {
      //     //   padding-bottom: 4.5em;
      //     // }
      //     // .blueContent {
      //     //   flex-direction: row;
      //     //   padding: 30px;
      //     //   .blueWords {
      //     //     padding-top: 20px;
      //     //   }
      //     //   .campingImg {
      //     //     padding-right: 0px;
      //     //   }
      //     // }
      //   }
      .circleIcons {
        .circle1,
        .circle2,
        .circle3 {
          // min-width: 100px;
          p {
            font-size: 24px;
            width: 200px;
          }
        }
        //     position: relative;
        //     // margin-top: 400px;
        //     bottom: -125px;
        //     display: flex;
        //     flex-direction: row;
        //     width: 90%;
        //     justify-content: space-between;
        //     align-items: flex-end;
        //     .individualCircle {
        //       // width: 9em;
        //       // height: 9em;
        //     }
      }
    }
    .sectionThree {
    }
    .sectionFour {
      .mustardSqr {
        width: 40vw;
        background-color: #ffe46f;
      }

      .research {
        display: block;
        height: 300px;
        width: 60vw;
        object-fit: cover;
      }
    }
    .sectionFive {
      flex-direction: row;
      justify-content: center;
      .demonstration {
        margin-right: 15px;
      }
      .caption {
        margin-left: 15px;
        align-items: flex-start;
      }
    }
  }
} //end of 768 media query

@media screen and (min-width: 875px) {
  .sectionTwo {
    .blueSection {
      padding-left: 50px;
      padding-right: 50px;
    }
    .circleIcons {
      .circle1,
      .circle2,
      .circle3 {
        // min-width: 100px;
        p {
          font-size: 28px;
          width: 250px;
        }
      }
    }
  }
}
