.individualResource {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5%;
  border-radius: 5px;
  border: 3px #474747 solid;
  flex-basis: 300px;
  align-items: center;
  justify-content: space-between;
  .namePictureContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      border-radius: 5px;
      opacity: 0.8;
      width: 95%;
      height: 200px;
      object-fit: cover;
    }
  }
  h3 {
    text-align: center;
    color: #474747;
    margin: 20px 10px;
  }
  li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.resourceOptions {
  display: flex;
  flex-direction: column;
  border-top: 1px black solid;
  height: 100px;
  justify-content: flex-end;
  margin-top: 15px;
  a {
    background-color: #f5bdc4;
    padding: 10px 20px;
    border-radius: 5px;
  }
  a:hover {
    background-color: #fad8dc;
  }
  button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 0.7rem;
    margin-top: 5px;
  }
  button:hover {
    font-weight: 700;
    transform: scale(1.2);
  }
}

@media screen and (min-width: 400px) {
  .individualResource {
    padding: 20px;
    // background-color: yellow;

    img,
    h3 {
      width: 285px;
    }
  }
  .resourceOptions a {
    width: 285px;
    text-align: center;
  }
}
