.personalizedResources {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pageTitle {
  // margin-left: 10px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-size: 48px;
  margin: 10px auto 10px auto;
  background-color: #c6f39a;
  border-radius: 5px;
  padding: 10px;
}
.dropdowns {
  display: flex;
  flex-direction: column;
}
