.personalizedResources {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.headerContainer {
  background-image: url("../../images/papers.jpg");
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 80%;
}

.pageTitle {
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-size: 48px;
  margin: 10px auto 10px auto;
  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 5px;
  padding: 10px;
}
.dropdowns {
  display: flex;
  flex-direction: column;
}
.savedHeader {
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-size: 30px;
  margin: 10px auto 10px auto;
  background-color: #ffe46f;
}
.resourceContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.showBtn {
  border: none;
  background-color: #ffe46f;
  cursor: pointer;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;

  img {
    width: 18px;
    margin-right: 10px;
    padding-top: 1px;
  }
}
.savedList {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
