* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  all: unset;
}
button,
a {
  cursor: pointer;
}
.react-calendar__month-view__days__day--weekend {
  color: black !important;
}
.BC {
  background-color: rgb(205, 87, 216) !important;
}
.period {
  background-color: brown !important;
}
