* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  all: unset;
}

/* .App {
  text-align: center;
} */
button,
a {
  cursor: pointer;
}

nav {
  min-height: 10vh;
  background: #f5bdc4;
  width: 100%;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 20px;
}
nav div {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  margin-right: 30px;
}

.personalizedResources {
  color: hotpink;
  font-size: 40px;
}
