.navBar {
  display: flex;
  justify-content: space-between;
}
.logoName {
  list-style-type: none;
  display: flex;
  align-items: center;
  h1 {
    margin-left: 10px;
    text-align: center;
    font-family: "Caveat", cursive;
    font-weight: 400;
  }
}
.logo {
  padding: 15px 0 15px 15px;
  height: 80px;
}
