.navBar {
  display: flex;
  justify-content: space-between;
}
.logoName {
  list-style-type: none;
  display: flex;
  align-items: center;
  h1 {
    margin-left: 10px;
    text-align: center;
  }
}
.logo {
  padding-left: 10px;
  padding-top: 5px;
  height: 60px;
}
