.birthControl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.birthControl > button {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  flex-basis: 190px;
  height: 165px;
  padding: 15px;
  border-radius: 5px;
  border: 3px #474747 solid;
}

.birthControl button:hover {
  background-color: #ffe56f49;
  transform: scale(1.02);
}

.birthControl img {
  width: 50px;
}

.birthControl h4 {
  font-style: italic;
  text-align: center;
}

.birthControl h3 {
  text-align: center;
}

.birthControl p {
  text-align: center;
}
